= render 'shared/side_bar'

.chat-screen
  .chat-screen__group
    = link_to edit_group_path(@group) do
      .chat-screen__group__edit-btn Edit
    .chat-screen__group__name
      = @group.name
    .chat-screen__group__create-user
      Members:
      - @group.users.each do |user|
        =user.name

  .chat-screen__chat-area
    - @group_message.each do |msg|
      .chat-screen__chat-area__message-name
        = msg.user.name
      .chat-screen__chat-area__message-time
        = msg.created_at.strftime("%Y/%m/%d %H:%M:%S")
      .chat-screen__chat-area__message
        = msg.body
      .chat-screen__chat-area__image
        = image_tag msg.image
  .chat-screen__posting-area
    = form_for [@group, @message] do |f|
      = f.text_field :body, class: "chat-screen__posting-area__message-box", placeholder: " type a message"
      = f.label "image", { class: "fa fa-picture-o"} do
        = f.file_field :image, style: "display: none;"
      = f.submit "Send", class: "chat-screen__posting-area__message-send-btn"
%footer
